.infocard {
    position: fixed;
    width: 600px;
    height: 400px;
    background: linear-gradient(135deg, #2a08457c 0%, #19197081 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #5f00db;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    resize: both;
    overflow: auto;
    width: 1000px;
    min-width: 500px;
    min-height: 500px;
    color: #fff;
}

.infocard.hidden {
    display: none;
}

.infocard-header {
    background:  linear-gradient(135deg, #2a0845 0%, #191970 100%);
    padding: 8px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px  solid #5f00db;
}


.infocard-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.infocard-controls button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
}

.infocard-controls button:hover {
    color: var(--accent-color);
}

.infocard-body {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.infocard-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.process-info-container {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.info-section {
    flex: 1;
    padding: 15px;
    border-right: 1px solid #5f00db;
    overflow-y: auto;
}

.file-section {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.file-content {
    font-family: monospace;
    white-space: pre-wrap;
    background: var(--bg-darker);
    padding: 10px;
    border-radius: 4px;
}

#service-details p {
    margin: 8px 0;
}

#info-cgroup {
    margin-top: 15px;
    font-family: monospace;
    white-space: pre-wrap;
}
