.process-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    height: 90%;
}

.process-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}



.process-input-container button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.process-input-container button:hover {
    background-color: #45a049;
}

.process-graphs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-bottom: 50px;
}

.chart-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(204, 0, 255, 0.3);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.chart-wrapper canvas {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px) !important;
    height: calc(100% - 20px) !important;
}
