<div class="infocard hidden" id="devices-manager-card" style="min-height: 700px; min-width: 600px; width: 700px;">
    <div class="infocard-header" >
        Devices Manager
        <div class="infocard-controls">
            <button class="btn-close-devices"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="infocard-body devices-container">
        <div class="devices-list-container">
            <ul class="devices-list" id="devices-list">
                <!-- Devices will be populated here -->
            </ul>
        </div>
        <div class="device-details-container">
            <!-- Details of the selected device will be displayed here -->
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/devices_manager.js') }}"></script>
