<div class="infocard hidden" id="devices-manager-card" style="min-height: 750px; min-width: 600px;">
    <div class="infocard-header">
        Devices Manager
        <div class="infocard-controls">
            <button class="btn-close-devices"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="infocard-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>MAC Address</th>
                </tr>
            </thead>
            <tbody id="devices-table-body">
                <!-- Devices will be populated here -->
            </tbody>
        </table>
    </div>
</div>
