<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="main-header">
    <div class="header-nav">
        <div class="nav-item " id="cpu-temp">
            <i class="fas fa-thermometer-half"></i>
            <span class="metric-value">0°C</span>
            <div class="tooltip"><span>CPU Temperature</span></div>
        </div>
        <div class="nav-item " id="memory-usage">
            <i class="fas fa-memory"></i>
            <span class="metric-value">0%</span>
            <div class="tooltip"><span>Memory: Loading...</span></div>
        </div>
        <div class="nav-item " id="storage-usage">
            <i class="fas fa-hdd"></i>
            <span class="metric-value">0%</span>
            <div class="tooltip"><span>Storage: Loading...</span></div>
        </div>
        <div class="nav-item " id="internet-connection" style="width: 50px !important;">
            <i class='fas fa-globe' style="color: lightgreen; animation: pulse 2s infinite;"></i>
        </div>
        <div class="nav-item " id="my-ip">
            <i class='fas fa-network-wired'></i>
            <span class="metric-value">Loading...</span>
            <div class="tooltip"><span></span></div>
        </div>
        <div class="nav-item " id="my-mac">
            <i class='fas fa-robot'></i>
            <span class="metric-value">Loading...</span>
            <div class="tooltip"><span></span></div>
        </div>

    </div>
    
    {% if request.endpoint == 'mqtt_explorer' %}
    <nav class="header-nav">
        <div class="nav-item">
            <a href="{{ url_for('index') }}">
                Services
            </a>
        </div>
        <div class="nav-item">
            <a href="/file_explorer">File Explorer</a>
        </div>
    </nav>
    {% elif request.endpoint == 'file_explorer' %}
    <nav class="header-nav">
        <div class="nav-item">
            <a href="{{ url_for('index') }}">
               Services
            </a>
        </div>
        <div class="nav-item">
            <a href="/mqtt_explorer">MQTT Explorer</a>
        </div>
    </nav>
    {% else %}
    <nav class="header-nav">
        <div class="nav-item" id="devices-manager-btn">
            <a href="#" onclick="toggleDevicesManager(); return false;">Devices</a>
        </div>
        <div class="nav-item" id="add-service-btn">
            <a href="#">Add Service</a>
        </div>
        <div class="nav-item">
            <a href="#" onclick="toggleConsole(); return false;">Console</a>
        </div>
        <div class="nav-item">
            <a href="#" onclick="toggleProcessMonitor(); return false;">Process Monitor</a>
        </div>
        <div class="nav-item">
            <a href="/mqtt_explorer">MQTT Explorer</a>
        </div>
        <div class="nav-item">
            <a href="/file_explorer">File Explorer</a>
        </div>
    </nav>
    {% endif %}
</header>

<script>
function toggleConsole() {
    const console = document.getElementById('consoleWindow');
    console.style.display = console.style.display === 'none' || console.style.display === '' 
        ? 'flex' 
        : 'none';
}

function toggleDevicesManager() {
    const devicesManager = document.getElementById('devices-manager-card');
    devicesManager.style.display = devicesManager.style.display === 'none' || devicesManager.style.display === '' 
        ? 'flex' 
        : 'none';
}

function toggleProcessMonitor() {
    const processMonitor = document.getElementById('process-monitor-card');
    processMonitor.style.display = processMonitor.style.display === 'none' || processMonitor.style.display === '' 
        ? 'flex' 
        : 'none';
}
</script>

<style>
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
</style>
