<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="infocard hidden" id="process-monitor-card" style="min-height: 835px; min-width: 600px; width: 1000px;">
    <div class="infocard-header">
        Process Monitor
        <div class="infocard-controls">
            <button class="btn-close-process"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="infocard-body process-container">
        <div class="process-input-container">
            <div class="search-container">
                <input class="form-control" type="number" id="process-pid" placeholder="Enter PID">
            </div>
            <button id="monitor-process-btn">Monitor</button>
        </div>
        <div class="process-graphs-container">
            <div class="chart-wrapper">
                <canvas id="cpu-usage-chart" width="650" height="150"></canvas>
            </div>
            <div class="chart-wrapper">
                <canvas id="memory-usage-chart" width="650" height="150"></canvas>
            </div>
            <div class="chart-wrapper">
                <canvas id="network-traffic-chart" width="650" height="150"></canvas>
            </div>
            <div class="chart-wrapper">
                <canvas id="network-conn-chart" width="650" height="150"></canvas>
            </div>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/process_monitor.js') }}"></script>
