
<script src="{{ url_for('static', filename='js/side_menu.js') }}"></script>
<div class="side-menu" id="sideMenu">
    <div class="side-menu-header">
        <h3>Menu</h3>
        <button id="closeMenu" class="close-menu">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <nav class="side-menu-nav">
        <ul>
            <li><a href="#"><i class="fas fa-home"></i> Services</a></li>
            <li><a href="#"><i class="fas fa-star"></i> System</a></li>
        </ul>
    </nav>
</div>
<button id="openMenu" class="menu-toggle">
    <i class="fas fa-bars"></i>
</button>
